Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Config/DefaultEditorPerProjectUserSettings.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Intermediate/CachedAssetRegistry.bin
Intermediate/ReimportCache/3688439234.bin
Intermediate/ReimportCache/3688439234.bin
*.log
